<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zmy.mybatis.MybatisTestMapper">
	<resultMap type="cn.zmy.mybatis.AdminUser" id="adminUserMap">
		<id column="id" property="id"/>
		<result column="account" property="account"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<!-- foreach里的三个属性都是必须的 -->
	<insert id="batchInsert">
	insert into system_admin(id, account, password, name)
	values 
	<foreach collection="list" item="item" separator=",">
	(#{item.id}, #{item.account}, #{item.password}, #{item.name})</foreach>
	</insert>
	
	<!-- 将数据插入数据库中 -->
    <insert id="insert" parameterType="cn.zmy.mybatis.AdminUser">
        INSERT INTO
        system_admin (
            id,
            account,
            password,
            name) 
        VALUES (
            #{id},
            #{account},
            #{password},
            #{name}) 
    </insert>

    <!-- 根据key查找数据库中信息 -->
    <select id="queryByKey" resultMap="adminUserMap">
        SELECT
            * 
        FROM 
            system_admin 
        <where>
            id = #{id} 
        </where>
    </select>
    
    <!-- 根据name 模糊查找数据库中信息 like '%${name}%' 可能会sql注入 -->
    <select id="queryByName" resultMap="adminUserMap">
        SELECT
            * 
        FROM 
            system_admin 
        <where>
            name like concat('%',#{name},'%') 
        </where>
    </select>
</mapper>